.navbar-default {
          background-color: #b5d84d;
 }

.navbar-default .navbar-brand {
        color: black;
}

.navbar-default .navbar-nav > li > a {
        color: white;
}

.center_wrapper {
    text-align: center;
}